.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #000; /*#555;*/
    background-color: #fff;
    background-image: none;
    border: #bcd8db solid 1px;
    border-radius: 4px;
    box-shadow: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control:focus {
    border-color: #31a3ae;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control:invalid, input:invalid, select.select2:required + .select2-container .select2-selection--single {
    border-color: #ff0000;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.01), 0 0 5px rgba(255, 42, 20, .4);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.01), 0 0 5px rgba(255, 42, 20, .4);
}
.has-error {
    border-color: #ff0000;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 42, 20, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 42, 20, .6);
}
.has-success .form-control {
    border-color: #bcd8db;
    box-shadow: none;
}
.has-success .form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
*:focus {
    outline: none !important;
}
.btn-default {
    color: #333;
    background-color: #f3f3f3;
    border-color: #ccc;
}
.btn-default:focus, .btn-default:hover {
    outline: none;
}
.btn-orange {
    color: #fff;
    background-color: #f36118;
    border-color: #e44c14;
}
.btn-orange:hover, .btn-orange:focus, .btn-orange.active {
    color: #fff;
    background-color: #e44c14;
    border-color: #e44c14;
}
i {
    padding: 3px 0;
}
.btn-darkblue {
    color: #fff;
    background-color: #1195bb;
    border-color: #1187ae;
}
.btn-darkblue:hover, .btn-darkblue:focus, .btn-darkblue.active {
    color: #fff;
    background-color: #0885a4;
    border-color: #24709f;
}
.disabled {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}
.btn-darkblue.disabled, .btn-darkblue[disabled] {
    color: #d2d2d2;
    background-color: #0885a4;
    border-color: #24709f;
    cursor: not-allowed;
    filter: alpha(opacity=0);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 1;
}
.btn-danger {
    color: #fff;
    background-color: #da2004;
    border-color: #d11c04;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger.active {
    color: #fff;
    background-color: #c72923;
    border-color: #9e2723;
}
.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn-success:focus, .btn-success:hover, .btn-success:active {
    color: #fff;
    background-color: #449d44;
    border-color: #255625;
}
.btn-warning {
    color: #fff;
    background-color: #ffb00c;
    border-color: #ffc107;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
    color: #fff;
    background-color: #e0a800;
    border-color: #d39e00;
}
.btn-warning.disabled, .btn-warning[disabled] {
    color: #d2d2d2;
    background-color: #f0ad4e;
    border-color: #eea236;
    cursor: not-allowed;
    filter: alpha(opacity=0);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 1;
}
.btn-md {
    padding: 5px 12px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.btn-md {
    padding: 3px 5px;
}
.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.alert-warning-info {
    color: #000000;
    background-color: #fff3cd;
    border-color: #ffeeba;
}