/* SVG ICONS STYLES */

img, svg {vertical-align: middle;}
.svg-icon {fill: currentColor}
.svg-file_default, .svg-none {fill: #90A4AE}
.svg-application {fill: #0064c8}
.svg-archive {fill: #f8c560}
.svg-audio {fill: #55617e}
.svg-cd {fill: #e9967a}
.svg-code {fill: #f19a3a}
.svg-excel {fill: #94cba2}
.svg-font, .svg-font .svg-file-icon {fill: #607D8B}
.svg-image {fill: #8cbd61}
.svg-image .svg-file-text-bg {fill: #72a645}
.svg-pdf {fill: #ca4d50}
.svg-powerpoint {fill: #e67841}
.svg-text {fill: #90A4AE}
.svg-video {fill: #ec6068}
.svg-word {fill: #0399e1}
.svg-file-bg {fill: #e9e9e0}
.svg-file-flip {fill: #d9d7ca}
.svg-file-icon {fill: #c8bdb8}
.svg-check {
    stroke: #78a642;
    stroke-width: 0.15em;
}
.svg-error {
    stroke: #ff0000;
    stroke-width: 0.15em;
}
.svg-file-ext {
    fill: white;
    font-weight: 500;
    text-transform: uppercase;
    text-anchor: middle;
    font-size: 12px
}
.svg-folder-bg {
    fill: #FFA000
}
.svg-folder-fg {
    fill: #FFCA28
}
.svg-folder-symlink {
    fill: #ffe9a8
}
.svg-file-forbidden {
    fill: #dc3545
}
.svg-folder-forbidden {
    fill: tomato
}
.files-svg {
    display: block;
    width: 100%;
    height: 60px
}
.files-img {
    object-fit: cover
}
.files-img-svg {
    object-fit: contain !important
}
.svg-icon {
    width: 1em;
    height: 1em;
    font-size: 24px;
    vertical-align: bottom;
    pointer-events: none
}

.files .preview .svg-file {
    display: block;
    height: 70px;
    width: 70px;
    padding: 7px;
}