
/* //////////////////////////////////// */
/* FILE INFO STYLES START */
/* //////////////////////////////////// */

.file-info  {
    display: block;
    height: 100%;
    background-color: #f5f5f5;
    border-radius: 4px;
}
.file-info p, .file-info-wrapper .name, .file-info-wrapper .size, .file-info-wrapper .mime, .file-info-wrapper .dimension, .file-info-wrapper .modified {
    font-size: 14px !important;
}
.active-buttons  {
    position: relative;
    height: 100%;
}
.file-info-buttons  {
    position: absolute;
    bottom: 0;
    display: block;
    padding: 15px;
}
.file-info-title {
    /*background-color: #f5f5f5;*/
}
.file-info-title > .caption {
    color: #607D8b; /*#405261;*/
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    padding: 15px;
}
.file-info-body {
    padding: 0 15px 15px 15px;
    font-size: 14px;
    font-weight: 300;
    color: #607D8b;
}
.file-info-no-wrapper {
    padding: 10px;
    font-weight: 500;
    text-align: center;
}
.file-info-no-wrapper > i {
    margin-bottom: 20px;
    color: #dedede;
}
.file-info-multiple-items-selected {
    padding: 10px;
    font-weight: 500;
    text-align: center;
}
.file-info-multiple-items-selected > i {
    margin-bottom: 20px;
    color: #dedede;
}
.file-info-unavailable {
    padding: 10px;
    font-weight: 500;
    text-align: center;
}
.file-info-unavailable > i {
    margin-bottom: 20px;
    color: #dedede;
}
.image-wrapper,
.ico-wrapper {
    text-align: center;
    max-height:100%;
    max-width: 100%;
}
.image-wrapper > img {
    height: 180px;
}
.ico-wrapper > .icon > .svg-file {
    height: 130px;
}
.audio-wrapper {
    margin: 0 10px 0 -10px;
    padding: 0;
}
audio {
    margin: 10px;
    max-width: 100%;
}
table.name-value-list {
    table-layout:fixed;
    width: 100%;
    border-collapse: collapse;
}
table.name-value-list th {
    color: #607D8b;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 2.5;
}
table.name-value-list td {
    color: #455a64;
    font-weight: 500;
    word-wrap: break-word;
}
.file-info-wrapper {
    margin-top: 15px;
    padding-bottom: 20px;
}
.text-info > table.name-value-list {
    margin-top: -15px;
}
.file-info-body a {
    color: #1187ae;
    text-decoration: none;
}
.file-info-body a:hover {
    color: #ff0000;
    text-decoration: none;
}
.file-info-body a span {
    font-size: 16px;
    font-weight: 600;
    word-wrap: break-word;
}
.file-info-body a p {
    margin-top: 15px;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
}
.file-info-body:after {
    position: absolute;
    font-family: FontAwesome;
    color: #ececec;
    z-index: 1;
    transition: all .5s;
    line-height: normal;
}
.ofi-img-contain {
    object-fit: contain;
    font-family: 'object-fit: contain';
}
.img-fluid,
.img-thumbnail {
    max-width: 100%;
    height: auto;
}
.embed-container {
    position: relative;
    padding-bottom: 56.5%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}
.embed-container iframe,
.embed-container img,
.embed-container embed,
.embed-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* //////////////////////////////////// */
/* FILE INFO STYLES END */
/* //////////////////////////////////// */

/* SVG ICONS STYLES */

img, svg {vertical-align: middle;}
.svg-icon {fill: currentColor}
.svg-file_default, .svg-none {fill: #90A4AE}
.svg-application {fill: #0064c8}
.svg-archive {fill: #f8c560}
.svg-audio {fill: #55617e}
.svg-cd {fill: #e9967a}
.svg-code {fill: #f19a3a}
.svg-excel {fill: #5cb85c}
.svg-font, .svg-font .svg-file-icon {fill: #607D8B}
.svg-image {fill: #8cbd61}
.svg-image .svg-file-text-bg {fill: #5cb85c}
.svg-pdf {fill: #ca4d50}
.svg-powerpoint {fill: #e67841}
.svg-text {fill: #90A4AE}
.svg-video {fill: #ec6068}
.svg-word {fill: #0399e1}
.svg-file-bg {fill: #e9e9e0}
.svg-file-flip {fill: #d9d7ca}
.svg-file-icon {fill: #c8bdb8}
.svg-check {
    stroke: #78a642;
    stroke-width: 0.15em;
}
.svg-error {
    stroke: #ff0000;
    stroke-width: 0.15em;
}
.svg-file-ext {
    fill: white;
    font-weight: 500;
    text-transform: uppercase;
    text-anchor: middle;
    font-size: 12px
}
.svg-folder-bg {
    fill: #FFA000
}
.svg-folder-fg {
    fill: #FFCA28
}
.svg-folder-symlink {
    fill: #ffe9a8
}
.svg-file-forbidden {
    fill: #dc3545
}
.svg-folder-forbidden {
    fill: tomato
}
.files-svg.svg-folder {
    padding: 10px 10px;
}
.files-img, .files-svg {
    display: block;
    padding: 10px 10px;
    width: 100%;
    height: 90px;
}
.files-img {
    object-fit: cover;
}
.files-img-svg {
    object-fit: contain !important
}
.svg-icon {
    width: 1em;
    height: 1em;
    font-size: 24px;
    vertical-align: bottom;
    pointer-events: none
}
.preview img {
    height: 70px;
    width: 70px;
    object-fit: cover;
    object-position: 100% 0;
}